@charset "UTF-8";
/* CSS Document */


@media only screen and (min-width: 0px) {
	.limiter {
	max-width: 1080px;
	}
	.limiter-custom {
	max-width: 1200px;
}
}

@media only screen and (min-width: 2000px) {
	.limiter {
	max-width: 1200px;
	}
	.limiter-custom {
	max-width: 1200px;
}
}

.limiter {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* ----------------------------------------------- navbar */ 

@media only screen and (min-width: 0px) {
	.headerimage {
	margin-left: 10px;
}

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1080px) {
	.headerimage {
	margin-left: 0px;
}
}

.headerimage a img {
	position: relative;
	top: 10px;
}

.navbar {
	background-color: #fff;
	border: none;
}

#mainnav li a{
	position: relative;
	top: 25px;
	font-size: 15px;
	color: #555;
	-ms-transition:color .6s ease-in-out;
	-webkit-transition: color  .6s ease-in-out;
	-moz-transition: color  .6s ease-in-out;
	transition: color .6s ease-in-out;
}

#mainnav li a:hover {
	color: #dc5b22;
	}

#collapse {
	border: none;
}


#mininav h3{
	font-weight: 200;
	letter-spacing: 1px;
}

/* ----------------------------------------------- landing */ 
@media only screen and (min-width: 0px) {
	
	.heading-1 {
		font-size: 40px;
	}
	.heading-2 {
		font-size: 14px;
	}
}

@media only screen and (min-width: 600px) {
	
	.heading-1 {
		font-size: 70px;
	}
	.heading-2 {
		font-size: 30px;
	}
}

.landing {
	position: relative;
	width: 100%;
	background: url(images/landing.jpg) no-repeat center center;
	background-size: cover;
}


.landing-menu {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	top: 50%;
}

.heading-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
}

.heading-2 {
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.heading-2 a button {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0);
	border-color: #fff;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	font-size: 18px;
	padding: 5px 8px 5px 8px;
	color: #fff;
	font-weight: 100;
	letter-spacing: 1.5px;
	-webkit-transition: background, color,  0.3s;
	-moz-transition: background, color,  0.3s;
	transition: background, color, 0.3s;
	outline: none;
}

.heading-2 a button:hover {
	background: rgba(255, 255, 255, 1);
	color: #555;
}

/* ----------------------------------------------- gallery 1 */

@media only screen and (min-width: 0px) {
	.gallery1-header {
	font-size: 20px;
}
}


@media only screen and (min-width: 600px) {
	.gallery1-header {
	font-size: 50px;
}
}

.restoration {
	margin-top: 50px;
}

.gallery1-header {
	text-align: center;
	margin: 10px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
	color: #555;
}

.gallery1-header hr{
	width: 80%;
	max-width: 400px;
}

.img-gallery-1 {
	width: 100%;
}

.img-gallery-1 .img-block{
	display: inline-block;
	float: left;
}

.gallery-info {
	width: 100%;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	right: 0 ;
	left: 0;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.img-gallery-1 .one {
	width: 19%;
	height: 300px;
	background: url(images/gallery/img1.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .two {
	width: 19%;
	height: 300px;
	background: url(images/gallery/img2.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .three {
	width: 19%;
	height: 300px;
	background: url(images/gallery/img3.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .four {
	width: 19%;
	height: 300px;
	background: url(images/gallery/img4.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .five {
	width: 19%;
	height: 300px;
	background: url(images/gallery/img5.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .six {
	width: 24%;
	height: 300px;
	background: url(images/gallery/img6.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .seven {
	width: 24%;
	height: 300px;
	background: url(images/gallery/img7.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .eight {
	width: 24%;
	height: 300px;
	background: url(images/gallery/img8.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-1 .nine {
	width: 24%;
	height: 300px;
	background: url(images/gallery/img9.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}
/* ----------------------------------------------- 2 col */ 
@media only screen and (min-width: 0px) {
	.first-col{
		display: none;
	}
	.col-2 {
	width: 100%;
	}
	.text {
	font-size: 16px;
	}
}

@media only screen and (min-width: 800px) {
	.first-col{
		display: block;
	}
	.col-2 {
	width: 50%;
	}
	.text {
	font-size: 18px;
	}
}

.col-background {
	height: 700px;
	background: url(images/2col.jpg) no-repeat center center;
	background-size: cover;
}

.col {
	width: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	height: 700px;
}

.col-2 {
	position: relative;
	float: left;
	overflow: hidden;
	height: 700px;
}


.left {
	position: relative;
	background: rgba(220, 91, 34, .8);
	height: 100%;
}

.col-img img{
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	top: 50%;
	margin-top: -290px;
}



.text h4{
	font-size: 40px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;	
}

.right .text {
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-width: 600px;
	min-width: 290px; 
	color: #fff;
	text-align: justify;
	top: 50%;
	font-weight: 500;
}

/* ----------------------------------------------- 3 col */ 

@media only screen and (min-width: 0px) {
	.block-contain .block{
	padding: 50px;
	}
}


@media only screen and (min-width: 600px) {
	.block-contain {
	width: 100%;
	padding: 50px;
}

.block-contain .block{
	width: 32%; 
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}
 
}

.block img{
	margin-bottom: 20px;
}	




/* ----------------------------------------------- photo gallery  */ 

@media only screen and (min-width: 0px) {
	.gallery2-header {
	font-size: 20px;
}
}


@media only screen and (min-width: 600px) {
	.gallery2-header {
	font-size: 50px;
}
}

.gallery2-header {
	text-align: center;

	margin: 10px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
	color: #555;
}

.gallery2-header hr{
	max-width: 400px;
	width: 80%;
}

.img-gallery-2 {
	width: 100%;
}

.img-gallery-2 .img-block{
	display: inline-block;
	float: left;
}

.overlays {
	margin-top: 50px;
}

.img-gallery-2 .one {
	width: 19%;
	height: 300px;
	background: url(images/cracked-concrete.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-2 .two {
	width: 44%;
	height: 300px;
	background: url(images/cracked-concrete2.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-2 .three {
	width: 34%;
	height: 300px;
	background: url(images/cracked-concrete3.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-2 .four {
	width: 24%;
	height: 300px;
	background: url(images/cracked-concrete4.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-2 .five {
	width: 29%;
	height: 300px;
	background: url(images/cracked-concrete5.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
}

.img-gallery-2 .six {
	width: 44%;
	height: 300px;
	background: url(images/cracked-concrete6.jpg) no-repeat center center;
	background-size: cover;
	margin: .5%;
	
} 

/* ----------------------------------------------- crack */ 



.injections {

	background: #dc5b22;

}


.crack h4 {
	color: #fff;
}

.crack {
	color: #fff;
}


.col-img2 {
	background: url(images/crack-injections.jpg) no-repeat center bottom;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.left-crack .text {
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-width: 600px;
	min-width: 290px; 
	text-align: justify;
	top: 50%;
	font-weight: 500;
}


/* ----------------------------------------------- contact  */ 


.formcontain {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #333538;
}

.formcontain h1{
	font-size: 50px;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 100;
	letter-spacing: 3px;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}


fieldset {
	width: 100%;
	display: inline-block;
}

fieldset input{
	width: 48%;
	max-width: 400px;
	min-width: 280px;
	margin: 10px;
	height: 50px;
	}

fieldset textarea{
	width: 80%;
	max-width: 820px;
	min-width: 280px;
	margin: 10px;
	height: 200px;
	}

#submitButton {
	width: 280px;
	background: #dc5b22;
	border: none;
}


/* ----------------------------------------------- footer  */ 
@media only screen and (min-width: 0px) {
.socialmedia li{
	display: inline-block;
	float: 0;
	margin-top: -20px;
	margin-right: 5px;
	margin-top: 10px;
}
.ecc-logo {
	position: relative;
	width: 100%;
	float: left;
	padding-bottom: 50px;
	}
}

@media only screen and (min-width: 800px) {
.ecc-logo {
	position: absolute;
	width: 0;
	float: left;
	margin-top: -20px;
	padding-bottom: 0;
	}

	.socialmedia li{
	display: inline-block;
	float: right;
	margin-top: -20px;
	margin-right: 5px;
}

	}

.footer {
	position: relative;
	width: 100%;
	display: block;
	background: url(images/2col.jpg);
	background-size: cover;
	color: #fff;
	padding: 50px;
}

.footer::after {
	content: "";
    background: rgba(220, 91, 31, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.footer a {
	color: #fff;
}








